{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See http://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html data-ng-app="app" ng-controller="DefaultController">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Brewery{% endblock %}</title>

        {% block stylesheets %}
        {# uncomment the following lines to compile SCSS assets with Assetic

            {% stylesheets filter="scssphp" output="css/app.css"
                "%kernel.root_dir%/Resources/assets/scss/bootstrap-flatly.scss"
                "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
                "%kernel.root_dir%/Resources/assets/css/*.css"
                "%kernel.root_dir%/Resources/assets/scss/main.scss"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        #}

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
            
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        <div class="container body-container">
            {% block body %}
            {% endblock %}
        </div>


        {% block javascripts %}
            <script src="{{ asset('bower_components/jquery/dist/jquery.js') }}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="{{ asset('bower_components/angular/angular.js') }}"></script>
            <script src="{{ asset('bower_components/angular-ui-router/release/angular-ui-router.js') }}"></script>
            <script src="{{ asset('bower_components/angular-bootstrap/ui-bootstrap-tpls.js') }}"></script>
            <script src="{{ asset('js/angular-app/app.js') }}"></script>
            <script src="{{ asset('js/angular-app/config/routes.js') }}"></script>
            <script src="{{ asset('js/angular-app/controllers/DefaultController.js') }}"></script>
            
        {% endblock %}
    </body>
</html>
